@import "config";

.about-subs h1 {
  @include font-800;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.8;
}

.about-subs p {
  @include font-400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.7;
}

.about-subs {
  padding: 60px 0px;
}

.rates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
}

.week {
  background: #ffffff;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.month {
  background: #ffffff;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.year {
  background: linear-gradient(
    129.72deg,
    #22e871 15.38%,
    #658324 79.28%,
    #a56b26 100%
  );
  box-shadow: 0px 20px 100px rgba(33, 99, 10, 0.65);
  border-radius: 16px;
}

.info h1 {
  @include font-800;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
  padding: 1em;
}

.info p {
  @include font-400;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.7;
  padding: 1em;
  text-align: center;
}

.price {
  background-color: rgba(#000000, 0.05);
  padding: 1em;
}

.year-price {
  background-color: rgba(#ffffff, 0.2);
  padding: 1em;
}

.year-price p {
  @include font-600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #e05124;
  text-shadow: 8px 8px 30px rgba(224, 81, 36, 0.4);
  text-align: center;
}

.year-price sup {
  @include font-600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #e05124;
  text-shadow: 8px 8px 30px rgba(224, 81, 36, 0.5);
}

.price p {
  @include font-600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #e05124;
  text-shadow: 8px 8px 30px rgba(224, 81, 36, 0.4);
  text-align: center;
}

.price sup {
  @include font-600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #e05124;
  text-shadow: 8px 8px 30px rgba(224, 81, 36, 0.5);
}

.rates-list {
  list-style: none;
}

.lir-gr {
  background-color: rgba(#000000, 0.05);
}

.lir-green {
  color: #32870a !important;
}

.list-items-rates {
  padding: 1em;
  @include font-400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.lir-gr-year {
  background-color: rgba(#ffffff, 0.2);
}

i {
  font-family: FontAwesome;
  font-style: normal;
  font-size: 25px;
}

#year-h1 {
  color: #ffffff !important ;
  @include font-800;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  padding: 1em;
}

#year-p {
  color: #ffffff !important;
  @include font-400;
  font-size: 14px;
  line-height: 17px;
  padding: 1em;
  text-align: center;
}

#year-list {
  color: #ffffff !important;
  padding: 1em;
  @include font-400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
